#chart {
  margin: 0 auto;
  max-width: 800px;
}

.highcharts-credits {
  visibility: hidden;
}

#logo {
  margin: 0 auto;
  max-width: 200px;
}

.popisek {
  width: 23mm;
  display: inline;
}

.prepinace {
  max-width: 800px;
}
